<div >
    <h1 class="text-center">Your Searching Results</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Route Name</th>
            <th>Route Type</th>
            <th>Origin Stop</th>
            <th>Destination Stop</th>
            <th>Origin Direction</th>
            <th>Destination Direction</th>
        </tr>
    </thead>
    <tbody>
    <% for (route of routes) {
        const name = route.long_name;
        const type = route.fare_class;
        const origin_direction = route.direction_origin;
        const destination_direction = route.direction_destination;
        const origin_stop = route.direction_origin_stop;
        const destination_stop = route.direction_destination_stop;
         %>
      <tr class="mb-2"> 
        <td><%= name %></td>
        <td><%= type %></td>
        <td><%= origin_stop  %></td>
        <td><%= destination_stop %></td>
        <td><%= origin_direction%></td>
        <td><%= destination_direction%></td>
      </tr>
    <% } %>
    </tbody>
    <tfoot>
        <tr>
            <td><a class="nav-link active text-center" aria-current="page" href="/routesfinder">Return to searcher</a> </td>
        </tr>
    </tfoot>

</table>
</div>
